TEST_ENV=UAT
BASE_URL=
WEBSITE_USERNAME=
WEBSITE_PASSWORD=
LOGIN_EMAIL=

# Netlify Configuration
NETLIFY_AUTH_TOKEN=
NETLIFY_SITE_ID=

# Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_RECIPIENTS=

# Testmail.app Configuration
TESTMAIL_API_KEY=
TESTMAIL_NAMESPACE=
